        .login-container {
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f8f9fa;
        }
        .card-login {
            max-width: 400px;
            width: 100%;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        }
        .logo-placeholder {
            width: 100px;
            height: 100px;
            
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            font-size: 1.5rem;
            margin: 0 auto 1.5rem auto;
        }
        .btn{
            background-color: var(--bs-red) !important;
            color: var(--bs-white);
        }